<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planets fact site</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
  <header>
    <h1>The PLANETS</h1>
    <nav>
      <ul id="planet-list">
        <li><a href="./index.html">MERCURY</a></li>
        <li><a href="./venus.html">VENUS</a></li>
        <li><a href="./earth.html">EARTH</a></li>
        <li><a href="./mars.html">MARS</a></li>
        <li><a href="./jupiter.html">JUPITER</a></li>
        <li><a href="./saturn.html">SATURN</a></li>
        <li><a href="./uranus.html">URANUS</a></li>
        <li><a href="./neptune.html">NEPTUNE</a></li>
      </ul>
    </nav>
  </header>
  <div id="strt-line"></div>
  <main>
    <section class="planet_info">
      <div class="planet_image">
        <img id="planet_img" src="./Assets/planet-venus.svg" alt="planet image">
      </div>
      <div class="planet_details">
        <h2 id="planet-name">VENUS</h2>
            <!-- Overview Content Start -->
        <p id="planet-overview">Venus is the second planet from the Sun. It is named after the 
            Roman goddess of love and beauty. As the brightest natural object 
            in Earth's night sky after the Moon, Venus can cast shadows and 
            can be, on rare occasions, visible to the naked eye in broad daylight.</p>
          <p id="src">Source: <a href="https://en.wikipedia.org/wiki/Mercury_(planet)" id="planet-source" target="_blank">Wikipedia </a></p>

          <div class="tabs">
            <button data-tab="overview"><span>01</span>OVERVIEW</button>
                  <!-- Overview Content End -->

                  <!-- Internal Structure Content Start -->
            <button data-tab="structure"><span>02</span>INTERNAL STRUCTURE</button>
                  <!-- Internal Structure Content End -->

                  <!-- Surface Geology Content Start -->
            <button data-tab="geology"><span>03</span>SURFACE GEOLOGY</button>
                   <!-- Surface Geology Content End -->

          </div>
      </div>
    </section>
    <section class="planet-stats">
      <div class="stat">
        <h3>ROTATION TIME</h3>
        <p id="rotation-time">243 DAYS</p>
      </div>
      <div class="stat">
        <h3>REVOLUTION TIME</h3>
        <p id="revolution-time">224.7 DAYS</p>
      </div>
      <div class="stat">
        <h3>RADIUS</h3>
        <p id="radius">6,051.8 KM</p>
      </div>
      <div class="stat">
        <h3>AVERAGE TEMP</h3>
        <p id="average-time">471°c</p>
      </div>
    </section>
  </main>

  <script src="./script.js"></script>
</body>
</html>